.home-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 55.9rem;
    padding: 0 5.0rem;
}

.image-block {
    min-width: 75rem;
    color: transparent;
    font-size: 0;
    background: url("../pictures/images/main-image.jpg") no-repeat;
    background-size: contain;
}

.description {
    display: grid;
    align-content: center;
    padding-left: 5.0rem;
}

.description__title {
    font-size: 5.0rem;
    color: var(--color-indigo-sloth);
    font-weight: 400;
    margin: 0;
}

.description__title_size_s {
    display: block;
    font-size: 4.7rem;
}

.description__p {
    font-size: 1.5rem;
    color: var(--color-indigo-sloth);
    margin: 3.5rem 0;
}

.description__link {
    display: grid;
    font-size: 1.6rem;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    width: 12.0rem;
    height: 4.5rem;
    color: var(--color-white);
    background: var(--color-megadrive-screen);
    border-radius: 0.5rem;
}

.description__link:hover {
    transform: scale(1.05);
}

.description__link:active {
    transform: scale(0.95);
}