:root {
    --color-disco-ball: #d4d4d4;
    --color-grey-shingle: #939393;
    --color-namara-grey: #7c7c7c;
}

:focus {
    outline: none;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

article,
aside,
audio,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
    display: block;
}

body {
    min-height: 100vh;
    width: 100%;
    text-rendering: optimizeSpeed;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}


body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--color-disco-ball);
    box-shadow: 0 0 2px rgb(0 0 0 / 20%) inset;
}

body::-webkit-scrollbar-thumb {
    border: 3px solid var(--color-disco-ball);
    border-radius: 8px;
    background: var(--color-grey-shingle);
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--color-namara-grey);
}

/* Добавляем класс для блокировки прокручивания контента. Резервируем место под полосу прокрутки, чтобы контент не прыгал при исчезновении скроллбара. */

html,
body {
    scrollbar-gutter: stable;
}

body.lock {
    overflow: hidden;
}

/* Добавляем для элементов вложенных цитат выбранный стиль кавычек */

body {
    quotes: '«' '»' '„' '“';
}

.quoteInside::before {
    content: open-quote;
}

.quoteInside::after {
    content: close-quote;
}

/* Все теги, имеющие атрибут "inert" делаем отличными от стилей атрибута "disabled" для правильного восприятия */

[inert],
[inert] * {
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
    user-select: none;
}


dialog {
    border: none;
}

ul,
ol,
menu {
    list-style: none;
}