:root {
    --color-indigo-sloth: #230B59;
    --color-megadrive-screen: #4840BB;
    --color-white: #ffffff;
    --color-sambucus: #18172B;
    --color-silverware: #B7B7C0;
    --color-ferocious-flamingo: #f000d0;
}